<!--
  Almost all pages should use this component to support both mobile and desktop views
  -->

<!-- get access to price of creator -->

<div class="container-fluid">
  <div [ngStyle]="{'height': '70px'}" class="row border-bottom border-primary fixed-top">
    <div class="col-3 m-0 p-0 pl-2"><img (click)="this.redirectToHomePage()" id="logo" src="../../assets/img/sigma-logo.png"
        alt="Logo" width=60></div>
    <div class="col-5 m-0 pt-2">
      <search-bar></search-bar>
    </div>
    <div class="col-2 p-0 m-0"></div>
    <div class="col-2 pt-2 m-0 px-0 pr-5">
      <!-- <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card> -->
      <div *ngIf="!this.globalVars.loggedInUser" class="w-100 align-items-center justify-content-center">
        <button (click)="globalVars.launchSignupFlow()">
          Sign Up
        </button>
        <button (click)="globalVars.launchSignupFlow()" class="ml-2">
          Login
        </button>
        <!-- trying to conditionally render signup and login button -->
      </div>
      <change-account-selector [settings]="settings" (accountChanged)="onAccountChange()" [channel]="channel"
        [creatorDashboard]="creatorDashboard" [backToSigma]="backToSigma" class="justify-content-sm-end"
        *ngIf="this.globalVars.loggedInUser"></change-account-selector>
    </div>
  </div>
  <div class="row mt-3" [ngStyle]="{'padding-top':'75px'}">
    <div class="col-2 pl-3 position-fixed">
      <p>Following</p>
      <div *ngFor="let streamer of followedUsernameStreamersList">
        <div *ngIf="this.streamerProfile && streamer.publicKey!==this.streamerProfile.PublicKeyBase58Check">
          <button (click)="changeStream(streamer.publicKey)">{{streamer.username}}</button>
        </div>

      </div>
    </div>
    <main class="col-10" [ngStyle]="{'padding-left':'250px'}">
      <ng-content></ng-content>
    </main>


  </div>

  <br>
  <br>
  <!-- <br>
    <update-profile [loggedInUser]="globalVars.loggedInUser" [inTutorial]="false"></update-profile> -->


</div>

















<!-- <div [class]="mobile ? 'global__mobile' : 'global__desktop'">
  <left-bar *ngIf="!mobile" [inTutorial]="inTutorial"></left-bar>
  <left-bar-mobile *ngIf="mobile" [inTutorial]="inTutorial"></left-bar-mobile>

  <div class="global__content__flex">
    <div [class]="mobile || hideSidebar ? 'global__content__width' : 'global__center__width'">
      <div [class]="mobile || hideSidebar ? 'global__content__inner' : 'global__center__inner'">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="global__sidebar__width" *ngIf="!mobile && !hideSidebar">
      <right-bar-creators [inTutorial]="inTutorial" class="global__sidebar__fixed"></right-bar-creators>
    </div>

    <bottom-bar-mobile
      *ngIf="mobile && !inTutorial"
      class="global__bottom-bar-mobile"
      [showPostButton]="showPostButton"
    ></bottom-bar-mobile>
  </div>
</div> -->