<div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-3"><img src="../../assets/img/sigma-3149984-2623137.png" alt="Logo" width=40></div>
      <div class="col-5">
        <search-bar></search-bar>
      </div>
      <div class="col-4">
        <!-- <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card> -->
        <div *ngIf="!this.globalVars.loggedInUser" class="w-100 align-items-center justify-content-center">
          <button (click)="globalVars.launchSignupFlow()">
            Sign Up
          </button>
          <button (click)="globalVars.launchSignupFlow()" class="ml-2">
            Login
          </button>
          <!-- trying to conditionally render signup and login button -->
        </div>
        <change-account-selector (accountChanged)="onAccountChange()" input2="Channel" (input2Click)="goBackToChannel()" input1="Creator Dashboard" (input1Click)="goToCreatorDashboard()"
          class="justify-content-sm-end" *ngIf="this.globalVars.loggedInUser"></change-account-selector>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p>Following</p>
        <div *ngFor="let streamer of followedStreamersList.following">
                <button (click)="changeStream(streamer)">{{streamer}}</button>
        </div>
      </div>
      <div class="col-7">
        <div id="video"></div>
        <div class="player"></div>
        <div class="row">
          <div class="col-3">
            <img [src]="streamerProfilePicture" alt="streamer profile picture" />
          </div>
          <div class="col-9">
            <div class="row">{{this.streamerProfile.Username}}</div>
            <div class="row">{{streamTitle}}</div>
            <div class="row">{{streamDescription}}</div>
            <div class="row">{{streamCategory}}</div>
            <creator-profile-top-card *ngIf="streamerProfile" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
              (userBlocked)="blockUser()"></creator-profile-top-card>
            <div class="row">flair</div>
            <button (click)="followStreamer()"
              *ngIf="this.globalVars.loggedInUser.ProfileEntryResponse.Username!=this.streamerUsername">Follow</button>
          </div>
  
        </div>
      </div>
      <div class="col-3">
        <h6>chat</h6>
      </div>
  
  
    </div>