<app-page [channel]="true" [creatorDashboard]="true" [settings]="true" (accountChanged)="onAccountChange()">
  <div class="row">
    <!-- when someone live -->
    <div *ngIf="anyoneLive" class="row p-0">
      <div class="col-7 p-0">
        <div id="video"></div>
      </div>
      <div class="col-5 p-0">
            <creator-profile-top-card-stream-view class="pl-20" *ngIf="streamerProfile" [isStreamerLive]="anyoneLive" [streamDescription]="streamDescription" [streamCategory]="streamCategory" [streamTitle]="streamTitle" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
            (userBlocked)="blockUser()"></creator-profile-top-card-stream-view>

      </div>
    </div>
    <br>
    <!-- when noone live -->
    <div *ngIf="!anyoneLive" class="col-7 p-0">
      <p>No one is Live right now. Be the First to Go Live!</p>
      <br>
      <button (click)="goLive()" class="btn btn-primary">Go Live!</button>

      <br>
      <br>
    </div>
    <!-- general -->
    <div *ngFor="let category of categories"><button class="btn btn-primary"
      (click)="goToCategory(category._id)">{{category.name}}</button> <br><br></div>

    <br>

  </div>
</app-page>