<app-page (accountChanged)="onAccountChange()" [settings]="false" [backToSigma]="true" [channel]="true" [creatorDashboard]="true">
    <!-- look into onAccountChange StreamerProfile and FollowedStreamersList -->
    <main role="main" class="">
        <!-- <creator-profile-top-card [profile]="globalVars.loggedInUser"></creator-profile-top-card> -->
        <update-profile *ngIf="globalVars.loggedInUser" [loggedInUser]="globalVars.loggedInUser"></update-profile>
        <br>
        <br>
        <br>
        <creator-profile-top-card *ngIf="globalVars.loggedInUser.ProfileEntryResponse" [profile]="globalVars.loggedInUser.ProfileEntryResponse"
                    (userUnblocked)="unblockUser()" (userBlocked)="blockUser()"></creator-profile-top-card>
    </main>

</app-page>