<body>
    <div class="row">
        <div class="col-3"><img src="/../../assets/img/sigma-3149984-2623137.png" alt="Logo" width=40></div>
        <div class="col-5">
            <search-bar></search-bar>
          </div>
          <div class="col-4">
            <!-- <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card> -->
            <div *ngIf="!this.globalVars.loggedInUser" class="w-100 align-items-center justify-content-center">
                <button (click)="globalVars.launchSignupFlow()">
                  Sign Up
                </button>
                <button (click)="globalVars.launchSignupFlow()" class="ml-2">
                    Login
                </button>
                <!-- trying to conditionally render signup and login button -->
            </div>
            <change-account-selector input2="Channel" (input2Click)="goBackToChannel()" input1="Back to Sigma" (input1Click)="backToSigma()" class="flex-end justify-content-sm-end" *ngIf="this.globalVars.loggedInUser"></change-account-selector>
          </div>
    </div>
    <!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-2 mr-0" href="#">Sigma</a>
        <input class="w-100 form-control col-4 form-control-dark" type="text" placeholder="Search" aria-label="Search">
        <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card>
        <div *ngIf="!this.globalVars.loggedInUser" class="col-5 w-100 align-items-center justify-content-center">
            <button (click)="globalVars.launchSignupFlow()">
                Sign Up
            </button>
            <button (click)="globalVars.launchSignupFlow()" class="ml-2">
                Login
            </button>
            trying to conditionally render signup and login button
        </div>
        <change-account-selector class="col-3 justify-content-sm-end" *ngIf="this.globalVars.loggedInUser">
        </change-account-selector>
    </nav> -->

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            
                                <span data-feather="home"></span>
                                Stream Manager <span class="sr-only">(current)</span>
                           
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li> -->
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div>
                    <button (click)="resetStreamKey()">Reset Stream Key</button>
                    <p *ngIf="streamKey">Stream Key: {{streamKey}}</p>
                </div>

                <form (ngSubmit)="onSubmit()" #streamInfoForm="ngForm">
                    <div class="form-group">
                        <label for="streamTitle">Stream Title</label>
                        <input type="text" class="form-control" id="streamTitle"
                               required
                               [(ngModel)]="streamTitle" name="streamTitle"
                               #streamTitle="ngModel">
                        <div [hidden]="streamTitle.valid || streamTitle.pristine"
                             class="alert alert-danger">
                          Stream Title is required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="streamDescription">Stream Description</label>
                        <input type="textarea" class="form-control" id="streamDescription"
                               required
                               [(ngModel)]="streamDescription" name="streamDescription"
                               #streamDescription="ngModel">
                        <div [hidden]="streamDescription.valid || streamDescription.pristine"
                             class="alert alert-danger">
                          Stream Description is required
                        </div>
                      </div>

                      <select class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Choose your country</option>
                        <option value="1">USA</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                        <option value="3">Poland</option>
                        <option value="3">Japan</option>
                      </select>


                </form>

                <creator-profile-top-card
                *ngIf="streamerProfile"
                [profile]="streamerProfile"
                (userUnblocked)="unblockUser()"
                (userBlocked)="blockUser()"
              ></creator-profile-top-card>
            </main>

        </div>
    </div>