// Light Theme
// By:
.light[app-theme] {
  --background: #fff;
  --text: #333333;
  --grey: #555555;
  --secondary: #f8f8f8;
  --secalt: #eee;
  --textalt: #777;
  --norm: #222;
  --formbg: #FFFFFF;
  --link: #FD853A;
  --hover: #C4320A;
  --border: #E5E5E5;
  --mborder: #E5E5E5;
  --filter: ;
  --unread: #e7effe;
  --topbar: #2e2e2e;
  --cblue: #FB6514;
  --cred: #fe3537;
  --cgreen: #19B028;
  --button: #FB6514;
  --loading: #777777;
}