<app-page [channel]="true" [creatorDashboard]="true" [settings]="true" (accountChanged)="onAccountChange()">
  <div class="row">
    <div *ngIf="anyoneLive">
      <div class="col-7">
        <div id="video"></div>
        <div class="player"></div>
        <div class="row">
          <div class="col-3">
            <img [src]="streamerProfilePicture" alt="streamer profile picture" />
          </div>
          <div class="col-9">
            <div class="row">{{this.streamerProfile.Username}}</div>
            <div class="row">{{streamTitle}}</div>
            <div class="row">{{streamDescription}}</div>
            <div class="row">{{streamCategory}}</div>
            <creator-profile-top-card *ngIf="streamerProfile" [profile]="streamerProfile"
              (userUnblocked)="unblockUser()" (userBlocked)="blockUser()"></creator-profile-top-card>
            <div class="row">flair</div>
            <button (click)="followStreamer()"
              *ngIf="this.globalVars.loggedInUser.ProfileEntryResponse.Username!=this.streamerUsername">Follow</button>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="!anyoneLive">
      <p>No one is Live right now. Be the First to Go Live!</p>
      <button (click)="goLive()"> Go Live!</button>
    </div>
  </div>
</app-page>
