<!-- get access to price of creator -->

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-3"><img (click)="this.redirectToHomePage()" id="logo" src="../../assets/img/sigma-3149984-2623137.png" alt="Logo" width=40></div>
        <div class="col-5">
            <search-bar></search-bar>
          </div>
          <div class="col-4">
            <!-- <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card> -->
            <div *ngIf="!this.globalVars.loggedInUser" class="w-100 align-items-center justify-content-center">
                <button (click)="globalVars.launchSignupFlow()">
                  Sign Up
                </button>
                <button (click)="globalVars.launchSignupFlow()" class="ml-2">
                    Login
                </button>
                <!-- trying to conditionally render signup and login button -->
            </div>
            <change-account-selector input2="Channel" (input2Click)="goBackToChannel()" input1="Creator Dashboard" (input1Click)="goToCreatorDashboard()" class="justify-content-sm-end" *ngIf="this.globalVars.loggedInUser"></change-account-selector>
          </div>
    </div>
    <div class="row">
          <div class="col-2">
            <p>Following</p>
            <div *ngFor="let streamer of followedStreamersList.following">
              <div *ngIf="streamer!==this.streamerProfile.PublicKeyBase58Check">
                <button (click)="changeStream(streamer)">{{streamer}}</button>
              </div>
              
            </div>
          </div>
          <div class="col-7">
            <div id="video"></div>
            <div class="player"></div>
            <div class="row">
              <div class="col-3">
                <img [src]="streamerProfilePicture" alt="streamer profile picture"/>
              </div>
              <div class="col-9">
                <div class="row">{{this.streamerProfile.Username}}</div>
                <div class="row">{{this.streamerProfile.Description}}</div>
                <creator-profile-top-card
                *ngIf="streamerProfile"
                [profile]="streamerProfile"
                (userUnblocked)="unblockUser()"
                (userBlocked)="blockUser()"
              ></creator-profile-top-card>
                <div class="row">flair</div>
                <button (click)="followStreamer()" *ngIf="this.globalVars.loggedInUser.ProfileEntryResponse.Username!=this.streamerUsername && !following">Follow</button>
                <button (click)="unfollowStreamer()" *ngIf="this.globalVars.loggedInUser.ProfileEntryResponse.Username!=this.streamerUsername && following">Unfollow</button>
                
              </div>

            </div>
          </div>
          <div class="col-3">
            <h6>chat</h6>
            <header>
              <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                  <a class="navbar-brand" href="#">Chat app</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                  </div>
                </nav>
          </header>
          
          <main class="chat">
              <div class="container">
                  <div class="chat-content">
                      <div class="card">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" *ngFor="let chatMessage of chatMessages">
                                  <strong>{{chatMessage.user}}: </strong>
                                  <span>{{chatMessage.message}}</span>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
                      <div class="chat-send row">
            
                          <div class="col-8">
                              <input type="text" class="form-control" name="message" id="input-message" ngModel>
                          </div>
                          <div class="col-2">
                              <button type="submit" class="btn btn-primary">Send</button>
                          </div>
                      </div>
                  </form>
              </div>
          
          </main>
          </div>


      </div>

      <br>
      <br>
      <!-- <br>
      <update-profile [loggedInUser]="globalVars.loggedInUser" [inTutorial]="false"></update-profile> -->

      <!-- check out following and make it such that u click on user and it comes -->

</div>





