<app-page [settings]="true" [backToSigma]="true"
  [channel]="true && this.globalVars.loggedInUser.ProfileEntryResponse?.Username && this.globalVars.loggedInUser.ProfileEntryResponse.Username!==this.streamerUsername"
  [creatorDashboard]="true" [streamerProfile]="streamerProfile" (accountChanged)="onAccountChange()">
  <div class="container row">
    <div class="col-8">
      <div id="video"></div>
      <div class="player"></div>
      <div class="row">
        <div class="col-6">
          <img [src]="streamerProfilePicture" alt="streamer profile picture" />
          <div class="row">{{this.streamerUsername}}</div>
          <div class="row">{{this.streamTitle}}</div>
          <div class="row">{{this.streamDescription}}</div>
          <div class="row">Streamer Live: {{this.isStreamerLive}}</div>
          <p>Viewer Count: {{this.streamer.stream.viewerCount + 1}}</p>
          <creator-profile-top-card *ngIf="streamerProfile" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
            (userBlocked)="blockUser()"></creator-profile-top-card>
          <div class="row">flair</div>
          <button (click)="followStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && !following">Follow</button>
          <button (click)="unfollowStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && following">Unfollow</button>

        </div>

      </div>
    </div>

    <div class="col-3 offset-md-1 px-100">
      <!-- <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Chat app</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
            </ul>
          </div>
        </nav>
      </header> -->
      
        <div class="container">
          <h4 [ngStyle]="{padding: '0px 15px'}">Chat</h4>
          <div class="chat-content">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let chatMessage of chatMessages">
                  <strong>{{chatMessage.user}}: </strong>
                  <span>{{chatMessage.message}}</span>
                </li>
              </ul>
            </div>
          </div>
          <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">

              <div class="col-8">
                <input type="text" class="form-control" name="message" id="input-message" autocomplete="off" ngModel>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>

<div id="app" class="h-screen flex">

  <!-- Scroll wrapper -->
  <div class="flex-1 flex bg-gray-100 overflow-hidden">
    <!-- Scrollable container -->
    <div class="px-6 py-4 flex-1 overflow-y-scroll">
      <!-- Your content -->
      <div class="p-8 shadow text-center rounded-lg my-10 bg-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque et animi reiciendis odio, ducimus minus ipsa, incidunt, maxime vero natus ratione possimus impedit quos dolor laborum id doloribus. Rem, tenetur?
        Praesentium at quasi officia dolores odit exercitationem distinctio dolorum, placeat magnam, similique consequatur nihil vitae, hic nulla veritatis sequi nostrum. Ipsa aspernatur odit labore voluptate mollitia aliquid, id quod quaerat?
        Consectetur ullam voluptatem accusamus aliquid incidunt, nisi dolorem, dolor, obcaecati sunt iste nam. Expedita pariatur exercitationem quam, cupiditate nihil sint porro, nam illo id nulla debitis reprehenderit cum ipsum rem.
        Esse necessitatibus sed, facere alias, qui tempore dolor temporibus amet blanditiis debitis provident accusamus quisquam ipsam odit aut cumque, porro placeat. Doloremque maiores sequi minima deleniti, delectus molestiae praesentium non.
        Maiores eligendi itaque reprehenderit id ea sed dolorum odit dicta quae iste beatae consectetur, nam cupiditate, quo vitae sequi! Iure porro soluta quaerat, fugit maiores nulla doloribus vitae ipsum expedita.
        Facilis, eligendi explicabo possimus optio repudiandae beatae in autem incidunt exercitationem, deleniti dolorum. Eos, soluta! Animi necessitatibus enim natus ipsa esse distinctio deserunt, quia nihil cum nisi corrupti neque expedita.
        Tempora adipisci facere itaque officiis quaerat aut quia. Totam repellat quo a voluptatem accusantium maxime eaque sapiente cumque odio, ut commodi repellendus, autem placeat culpa tempora, officia in ipsa incidunt?
        A eveniet possimus aperiam, perferendis at obcaecati doloribus quo incidunt dicta doloremque minus ipsa! Architecto et soluta qui ratione consectetur quas adipisci perferendis neque tempora! Vitae, provident. A, ea laboriosam.
        Earum quia reprehenderit cupiditate distinctio. Quidem iste eaque mollitia, tenetur veniam nostrum esse beatae temporibus facilis hic placeat cum deleniti corporis numquam veritatis perspiciatis officiis eum deserunt id nam atque?
        Adipisci, minus id? Non adipisci accusantium enim ex! Eligendi ipsam tempora amet sapiente ea! Neque, molestias voluptatum voluptates omnis eos nobis modi laudantium ipsa id accusantium? Corrupti similique quis nihil.
        Maiores veniam dolor impedit molestias? Explicabo dicta, mollitia dolore consequatur itaque hic quibusdam natus doloremque quidem nobis recusandae dolorem distinctio sit quis, necessitatibus voluptatem consectetur quas? Voluptatem similique necessitatibus molestiae?
        Harum nisi laboriosam blanditiis in aliquid iste esse delectus perspiciatis. Qui nulla, officia dolor nam saepe impedit ad recusandae dolorum reiciendis eos error modi eligendi voluptates deserunt molestiae labore accusantium!
        Labore non maiores repellendus, nesciunt ea id, sunt officia possimus praesentium asperiores a laudantium quae dignissimos! Ut, mollitia soluta consequuntur, quas ad non optio obcaecati aliquam illo ullam unde fugit?
        Molestias nostrum nobis adipisci aut ab quam minima laboriosam modi deserunt assumenda eius expedita, molestiae pariatur repudiandae dolore architecto, voluptate, animi ullam possimus maiores et. Ad recusandae corporis eligendi consequuntur.
        Nisi, aliquid exercitationem. Inventore magni obcaecati error, debitis officia vel libero possimus omnis ad, ratione nam id dignissimos tempora saepe doloremque ipsum reiciendis, porro dolore delectus. Nihil hic quasi blanditiis.
        Expedita ut et atque blanditiis commodi vero dolores, possimus optio illo asperiores officia quas quisquam minus in cum nihil unde, omnis, aliquam excepturi sit! Assumenda dolor non quas ratione aliquam.
        Aut repellendus illum quisquam quibusdam tempore minus in. Sint numquam labore dolorum, fugit tempore itaque quisquam! Et distinctio doloribus quaerat nisi? Aspernatur, expedita minus inventore culpa quia voluptatibus soluta aliquam.
        Unde quaerat reprehenderit nulla. Consequatur rem beatae neque, delectus architecto perspiciatis debitis minima possimus similique asperiores eos harum tempore, itaque fugiat. Mollitia eaque voluptatem incidunt dolores perferendis, asperiores dolorum aspernatur?
        Sapiente, aliquam. Deserunt culpa iure saepe quis laudantium excepturi vitae dolores, cupiditate commodi fugit ipsum, repudiandae sequi numquam aliquid nostrum! Cum nam quidem itaque ratione in! Impedit ratione praesentium quam.
        Qui omnis a alias. Cupiditate iusto expedita ducimus, aperiam corrupti ad minus maiores ratione voluptatem sequi doloribus quod vero assumenda hic eius quaerat reiciendis dolorem commodi? Quidem, facere ullam! Recusandae.
        Quam nostrum asperiores atque quasi voluptatibus facilis numquam, inventore eum optio! Impedit, culpa sint recusandae voluptates eius repellendus placeat necessitatibus harum voluptatem corporis, tempora repudiandae dolore inventore quibusdam vel est.
        Expedita placeat totam ipsa repellendus distinctio rem corporis voluptatem, suscipit aperiam explicabo, modi ducimus? Molestias nam nobis explicabo, quisquam assumenda minus dolores harum. Non quod consequatur odio enim quam. Dolores?
        Magni odit, corporis quas facere consequuntur libero beatae aliquid minima dolor sequi architecto eligendi officiis quo illum expedita velit quae? Obcaecati amet rem dolores ut unde aspernatur repudiandae nisi? Tempora.
        Repellat porro iste officia, praesentium quasi accusamus assumenda odio excepturi maiores quaerat, doloremque, impedit dolorem pariatur suscipit deserunt commodi possimus et animi cupiditate rem est incidunt error! Veniam, eius quos.
        Ipsum natus fugiat ad. Nobis quam labore, quae suscipit laudantium veniam quaerat fugiat similique quisquam nihil maiores earum alias delectus recusandae aliquid unde voluptatum praesentium beatae aut magnam hic incidunt?
        Vitae et nemo ut quas delectus, quam vel unde doloremque sunt hic ipsam, incidunt voluptatem temporibus ipsum. Suscipit voluptatum dolorum vel? Modi nemo facere doloremque asperiores. Ratione libero porro nisi.
        Laborum amet explicabo consequatur doloremque ipsam porro maiores, officiis nam similique nostrum necessitatibus possimus recusandae dignissimos asperiores qui. Dolores atque placeat rem veniam aperiam! Expedita fugit error suscipit commodi voluptatem!
        Excepturi odit illo illum asperiores. Perspiciatis, odio! Laborum aliquid omnis vel suscipit placeat ipsa, explicabo distinctio ducimus quibusdam aspernatur vero doloribus delectus quae deserunt provident quia ullam tenetur labore illo?
        Deserunt cum exercitationem atque consectetur mollitia, ea necessitatibus quasi neque excepturi labore totam rem repellat, laudantium dignissimos veniam, nihil beatae minima laborum eum distinctio molestias sapiente! Odit recusandae reprehenderit tempore?
        Ullam, in tempore! Blanditiis odit magnam hic assumenda nulla molestias excepturi dolores facere tempora, temporibus doloremque expedita ducimus? Doloremque fuga aspernatur tenetur esse, amet eum minima fugiat rem iure impedit?
        Optio molestiae sint unde veritatis, pariatur atque debitis praesentium! Voluptates ipsam, animi ea autem molestiae quas quidem dolores quod ut magni recusandae explicabo sint unde nisi sequi? Qui, sequi amet!
        Dolores quod esse quasi voluptate, officia blanditiis labore sapiente natus ad, nam quidem repellendus optio libero harum amet nesciunt, soluta laborum at quaerat ullam praesentium. Possimus accusantium autem fugit nesciunt.
        Voluptatem at itaque expedita facilis, cupiditate reiciendis cumque earum, eveniet laudantium similique molestias incidunt pariatur quisquam tempore aperiam. Quod quam maiores, officiis odit officia minus? Dicta expedita fugit perspiciatis saepe?
        Ratione minus a delectus repellendus atque dignissimos esse quibusdam quia at ea ullam praesentium ducimus dolorum autem, explicabo eos mollitia ex! Quos odio nemo deserunt molestiae, corporis dolores officiis soluta!
        Ipsum deleniti inventore optio dignissimos molestiae? Sunt error ullam voluptas veritatis asperiores ea fugiat tempore possimus magni voluptatum eveniet, voluptate numquam minima impedit odio amet in! Quis vitae eius itaque!
        Non, quia distinctio! Accusantium soluta earum et, blanditiis quibusdam nostrum omnis quis quidem debitis maiores. Neque quo id, illo, provident ullam voluptates doloremque totam dolores sint officia culpa voluptatum magni.
        Dicta totam, ratione quia culpa ad optio architecto facere. Odit quo quibusdam dolorem? Molestias aperiam eum laudantium, velit pariatur sint incidunt, harum non delectus deserunt distinctio odio obcaecati aspernatur tempora.
        Officiis laudantium blanditiis tenetur maxime magnam excepturi corporis fugiat! Adipisci iste corporis, pariatur earum nesciunt illo quibusdam, esse optio doloribus ullam exercitationem velit ad saepe, beatae laborum commodi quidem. Facere.
        Laudantium, ullam! Quibusdam alias tempora cum impedit incidunt quis, est itaque pariatur autem ipsa quisquam ullam magnam dolores voluptatibus, reiciendis fuga laborum laboriosam officiis vel nihil odit ipsam, non nisi!
        Dolorum quia voluptas modi! Assumenda optio voluptatum ut repellendus ad ab repellat tempora iure velit. Fugit molestias aut optio neque, est itaque consectetur quibusdam enim? Nihil repellat blanditiis eum eos!
        Illum temporibus, magni ducimus eveniet vero vitae autem odio voluptates rerum voluptas repellat, quibusdam distinctio inventore possimus quas in nesciunt eaque unde deleniti natus dolor optio est commodi! Aliquid, beatae.
        Odio temporibus id quia officia praesentium sed excepturi ut amet qui placeat. Corrupti quidem odit officia facilis voluptatum eum ullam, saepe sint quos ab amet voluptatem delectus veniam quo animi!
        At illum omnis consequatur ab ducimus eligendi minus vero. Facere maxime delectus vitae deserunt quidem, odit rerum voluptates aliquid necessitatibus, nobis cum voluptatum corporis ad ullam qui quo nesciunt saepe.
        Accusamus ad quo, doloremque tempora eius ex aliquid, cupiditate earum suscipit repudiandae non ea beatae. Excepturi est dolorem nostrum animi placeat! Accusantium dolor delectus rerum beatae, quia rem atque similique.
        Saepe libero voluptate cupiditate nam consequatur veritatis, iusto atque quia nobis blanditiis velit eveniet commodi. Quod, quo veritatis? Pariatur similique tenetur sequi debitis laudantium hic illum omnis modi laborum. Quisquam.
        Natus pariatur minus sunt cumque doloremque culpa magnam, in eveniet facilis voluptate dolores dicta laborum ea, similique, molestiae quisquam id vel delectus recusandae eligendi sequi aut? A ab minus in.
        Consectetur quae libero eligendi dolorem accusamus odio ab minima inventore cumque! Atque repellendus, recusandae, ea ducimus dignissimos quia in quod, amet ratione adipisci corporis dolor laborum aliquid? Non, rerum beatae!
        Necessitatibus libero, ad veniam temporibus magni magnam laborum quo tempore repellat exercitationem. Nam voluptatibus nemo sequi distinctio nostrum nobis consectetur qui accusamus. Sequi et deleniti non? Deserunt vitae dignissimos voluptatibus?
        Nulla unde commodi corrupti fugit, deleniti modi eius consequuntur excepturi cumque in exercitationem. Molestias numquam maiores necessitatibus temporibus, quod non illum consequuntur rem, qui et sed reprehenderit ipsam corrupti dolores!
        Consequatur inventore iste dolores, sequi, totam tempore nam vitae necessitatibus perferendis accusamus fugiat earum eaque sint ullam sit saepe, doloribus dolor amet neque sapiente ipsum sunt quaerat pariatur quos! Atque?
      </div>
    </div>
  </div>
    <!-- Fixed sidebar -->
  <div class="bg-gray-600 w-40 sm:w-64">
    <h1 class="p-4 text-white font-semibold text-xl">FIXED CONTAINER</h1>
  </div>
</div>
</app-page>

