<!-- get access to price of creator -->

<div class="container-fluid">
    <div class="row">he</div>
    <div class="row">
          <div class="col-sm">
            <h6>Following</h3>

          </div>
          <div class="col-sm">
            <search-bar></search-bar>
          </div>
          <div class="col-sm">
            <!-- <simple-profile-card #loggedIn [profile]="globalVars.loggedInUser.PublicKeyBase58Check"></simple-profile-card> -->
            <div *ngIf="!this.globalVars.loggedInUser" class="w-100 align-items-center justify-content-center">
                <button (click)="globalVars.launchSignupFlow()">
                  Sign Up 
                </button>
                <button (click)="globalVars.launchSignupFlow()" class="ml-2">
                    Login 
                </button>
                <!-- trying to conditionally render signup and login button -->
            </div>
            <change-account-selector class="" *ngIf="this.globalVars.loggedInUser"></change-account-selector>
          </div>
      </div>

</div>


