<app-page [settings]="true" [backToSigma]="true"
  [channel]="true && this.globalVars.loggedInUser.ProfileEntryResponse?.Username && this.globalVars.loggedInUser.ProfileEntryResponse.Username!==this.streamerUsername"
  [creatorDashboard]="true" [streamerProfile]="streamerProfile" (accountChanged)="onAccountChange()">
  <div class="container row">
    <div class="col-8">
      <div id="video"></div>
      <div class="player"></div>
      <div class="row">
        <div class="col-6">
          <img [src]="streamerProfilePicture" alt="streamer profile picture" />
          <div class="row">{{this.streamerUsername}}</div>
          <div class="row">{{this.streamTitle}}</div>
          <div class="row">{{this.streamDescription}}</div>
          <div class="row">Streamer Live: {{this.isStreamerLive}}</div>
          <p>Viewer Count: {{this.streamer.stream.viewerCount + 1}}</p>
          <creator-profile-top-card *ngIf="streamerProfile" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
            (userBlocked)="blockUser()"></creator-profile-top-card>
          <div class="row">flair</div>
          <button (click)="followStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && !following">Follow</button>
          <button (click)="unfollowStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && following">Unfollow</button>

        </div>

      </div>
    </div>

    <div class="col-4 p-0 m-0 overflow-hidden">
        <div class="container">
          <h4 [ngStyle]="{padding: '0px 15px'}">Chat</h4>
          <div class="chat-content">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let chatMessage of chatMessages">
                  <strong>{{chatMessage.user}}: </strong>
                  <span>{{chatMessage.message}}</span>
                </li>
              </ul>
            </div>
          </div>
          <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">

              <div class="col-8">
                <input type="text" class="form-control" name="message" id="input-message" autocomplete="off" ngModel>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magnam architecto ipsa ex rem consequatur pariatur, voluptatem vel vero nobis ut. Maiores vitae aut, rem excepturi provident molestiae ratione veniam?
        Ratione laboriosam debitis delectus pariatur eum natus eius autem. Quae, a totam animi vitae quos officiis, odio provident deserunt voluptas fugit quia aspernatur blanditiis hic nisi dolor? Maxime, repudiandae neque.
        Doloremque vitae quaerat in ab cum molestias, asperiores soluta et laboriosam maiores molestiae, neque illo reiciendis quasi aperiam distinctio facilis rem delectus quisquam hic voluptates nemo tenetur? Corporis, natus quasi!
        Suscipit magni voluptatibus dolorem ut. Maiores dolor fugiat rem corrupti qui, culpa corporis nobis reiciendis facilis numquam exercitationem et veniam deserunt obcaecati labore deleniti ea voluptatibus nostrum! Esse, recusandae sapiente.
        Neque tempora assumenda explicabo earum maxime eum quaerat sequi nulla iusto, est adipisci. Amet, enim nobis, voluptas modi beatae, similique doloremque neque quasi in atque exercitationem quam quidem aut delectus.
        Aliquid praesentium ipsam porro quam ipsa iure ex earum! Distinctio laboriosam a exercitationem facilis illo consectetur in ab numquam dicta. Atque impedit consectetur perferendis beatae numquam nesciunt natus, ratione vitae?
        Et culpa numquam maiores corporis eveniet pariatur, esse ea, placeat nulla facere vitae optio non maxime veniam iusto quam odit voluptate quia. Dicta, eum vero. Voluptas soluta cumque eos minima.
        Consequuntur explicabo sapiente nisi accusantium. Omnis illum, quia distinctio ipsa mollitia autem pariatur, et repellendus aspernatur ab maiores voluptatum dolores reprehenderit accusamus quam! Est error repudiandae veniam vero eos tempore?
        Eaque asperiores officiis nesciunt ea dolorem commodi itaque quibusdam suscipit maxime enim, nobis optio! Neque aspernatur commodi consequuntur voluptatibus labore molestias quasi, itaque doloribus totam aliquam eius vitae perspiciatis rerum.
        Commodi autem quis aspernatur praesentium mollitia temporibus? Corrupti consectetur animi eveniet sapiente voluptatem et architecto quis! Praesentium, ea autem tempora tenetur unde, nam explicabo dolore aperiam quidem odit qui dolorum?
    </div>
  </div>
</app-page>