<app-page [settings]="true" [backToSigma]="true"
  [channel]="true && this.globalVars.loggedInUser.ProfileEntryResponse?.Username && this.globalVars.loggedInUser.ProfileEntryResponse.Username!==this.streamerUsername"
  [creatorDashboard]="true" [streamerProfile]="streamerProfile" (accountChanged)="onAccountChange()">
  <div class="container row">
    <div class="col-8">
      <div id="video"></div>
      <div class="player"></div>
      <div class="row">
        <div class="col-6">
          <img [src]="streamerProfilePicture" alt="streamer profile picture" />
          <div class="row">{{this.streamerUsername}}</div>
          <div class="row">{{this.streamTitle}}</div>
          <div class="row">{{this.streamDescription}}</div>
          <div class="row">Streamer Live: {{this.isStreamerLive}}</div>
          <p *ngIf="this.streamer">Viewer Count: {{this.streamer.stream.viewerCount + 1}}</p>
          <creator-profile-top-card *ngIf="streamerProfile" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
            (userBlocked)="blockUser()"></creator-profile-top-card>
          <div class="row">flair</div>
          <button (click)="followStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && !following">Follow</button>
          <button (click)="unfollowStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && following">Unfollow</button>

        </div>

      </div>
    </div>

    <div class="position-fixed top-0 end-0 col-4 p-0 m-0 border-left border-primary" id="chatbar">
        <div class="container">
          <h4 [ngStyle]="{padding: '0px 15px'}">Chat</h4>
          <div class="chat-content">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let chatMessage of chatMessages">
                  <strong>{{chatMessage.user}}: </strong>
                  <span>{{chatMessage.message}}</span>
                </li>
              </ul>
            </div>
          </div>
          <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">

              <div class="col-8">
                <input type="text" class="form-control" name="message" id="input-message" autocomplete="off" ngModel>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</app-page>