body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}


#video{
  width:50vw;
  height:60vh;
}

#left {
  background-color: #2ecc71;
  text-align: center;
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 75%;
  overflow-y: scroll; 
}

.chat {
  margin-top: 10rem;
}

div.chat-content {
  border-radius: .25rem;
  height: 40rem;
  margin-bottom: 2rem;
}

.card {
  height: 100%;
}
