<app-page [settings]="true" [backToSigma]="true"
  [channel]="true && this.globalVars.loggedInUser.ProfileEntryResponse?.Username && this.globalVars.loggedInUser.ProfileEntryResponse.Username!==this.streamerUsername"
  [creatorDashboard]="true" [streamerProfile]="streamerProfile" (accountChanged)="onAccountChange()" (streamChanged)="onStreamChange()">
  <div class="row">
    {{rerendered()}}
    <div class="col-9 p-0">
      <!-- <app-stream-player [streamId]='this.streamer.stream._id'></app-stream-player> -->
      <!-- <div class="m-0 p-0" id="video"></div> -->
      <div class="row">
        <div class="col-10">
          <!-- <img [src]="streamerProfilePicture" alt="streamer profile picture" /> -->
          <!-- <div class="m-0 row">{{this.streamerUsername}}</div>
          <div class="m-0 row">{{this.streamTitle}}</div>
          <div class="m-0 row">{{this.streamDescription}}</div>
          <div class="m-0 row">Streamer Live: {{this.isStreamerLive}}</div>
          <p *ngIf="this.streamer">Viewer Count: {{this.streamer.stream.viewerCount + 1}}</p> -->
          <creator-profile-top-card-stream-view *ngIf="streamerProfile && streamer" [isStreamerLive]="isStreamerLive" [streamDescription]="streamDescription" [viewerCount] = "this.streamer.stream.viewerCount + 1" [streamCategory]="streamCategory" [streamTitle]="streamTitle" [profile]="streamerProfile" (userUnblocked)="unblockUser()"
            (userBlocked)="blockUser()"></creator-profile-top-card-stream-view>
          <!-- <button (click)="followStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && !following">Follow</button>
          <button (click)="unfollowStreamer()"
            *ngIf="this.globalVars.loggedInUser.PublicKeyBase58Check !==this.streamerProfile.PublicKeyBase58Check && following">Unfollow</button> -->

        </div>

      </div>
    </div>
    <div class="fixed end-0 col-3 p-0 m-0 border-left border-primary bg-gray-50 h-screen" id="chatbar">
      <div class="mb-2">
        <h4 class="text-lg py-2" [ngStyle]="{padding: '0px 15px'}">Welcome to the Chat Room!</h4>

        <div #scrollUp [scrollTop]="scrollUp.scrollHeight" class="bg-gray-50 chat-content overflow-y-auto">
          <ul class="">
            <li class="bg-gray-50 ml-3" *ngFor="let chatMessage of chatMessages">
              <strong class="text-sm overflow-hidden overflow-ellipsis" [ngStyle]="{'max-width': '25ch'}" [style.color]="chatMessage.color">{{showUsernameInChat(chatMessage.user)}}</strong>
              <span class="text-sm break-words" [ngStyle]="{'hyphens': 'auto'}">{{chatMessage.message}}</span>
            </li>
          </ul>
        </div>

        <!-- <app-send-chat-form (messageSent)="sendMessage($event)"></app-send-chat-form> -->
      </div>
    </div>
  </div>
</app-page>